<!DOCTYPE html>
<html>
	<head>
		<title>Personal Info :</title>
		<style type="text/css" href='/css/profile.css'></style>
	</head>
	<body>
		<img src= <%"/uploads/ result[0].dp.data "%> type='<%=result[0].dp.contentType%>'>

	</body>
</html>