<%-include('header')-%>
<h1>This is a about us page</h1>
<p>a whole lot of things are entered here, which we need to take care.So this paragraph is all we need to take care about.</p>
<%-include('footer')-%>